{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container col-lg-9 col-sm-12"> 
  <div class="row">
    <h3>Вот что я умею (конечно, не в совершенстве ^_^)</h3>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <br>
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          HTML/CSS
        </li>
        <li class="list-group-item">
          Bootstrap
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <br>
      <p>Сайт сделан <b>начинающим</b> программистом, поэтому по любым вопросам по работе сайта<br>пишете на почту: <b>Wizardus@list.ru</b></p>
    </article>
  </div>
</div>
{% endblock %}